/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 20, 2025, 10:43:28 PM
    Author     : HOME PC
*/
.detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.product-image{
    height: 20em;
    width: auto;
    max-width: 100%;
}
